html{
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

.logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 30%;
    border-radius: 50%;

}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;

}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;

}

.nav-list li {
    list-style: none;
    padding: 25px 30px;
    
}

.nav-list a {
    text-decoration: none;
    color: azure;
    font-size: 20px;
}

.nav-list a:hover {
    text-decoration: none;
    color: rgb(207, 32, 178);
    font-size: 30px;
}

.rightnav {
    width: 50%;
    text-align: right;
    padding:0 23px ; 
}

#search {
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}

.background {
    background: rgba(0, 0, 0, 0.7) url('../img/background.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.firstSection{
    height: 90vh;
}

.box-main{
    display: flex;
    justify-content: center;
    align-items:center ;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto; 
    height: 90%;
}
.firstHalf{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.SecondHalf{
    width: 50%;
}
.SecondHalf img{
    width: 90%;
    padding: 90px;
    /* border: 4px solid rgb(151, 160, 141); */
    border-radius: 40%;
}
.text-big{
    font-size: 50px;
}

.text-small{
    font-size: 18px;
    margin: 10px;
}

#btn{
    padding: 8px 20px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}


.button{
    padding: 6px 10px;
    vertical-align: middle;
}

/* gallery */
.gallery-section{
    height: 91vh;
    /* background-color: #fffff0; */
    background: url(/img/galleryBG.jpg)no-repeat;
    
}
.g-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.gallery-section h1{
    padding: 50px;
    justify-content: center;
    display: flex;
    font-size: 50px;
    font-family:serif;
    transition:color 0.3s ease, font-size 0.3s ease;
}
.gallery-section h1:hover{
    color: rgb(207, 32, 178);
    font-size: 2.5em; 
  }


.gallery-section img{
    height: 400px;
    width: 400px;
    border-radius: 40px;
    margin: 40px;  
}

.gallery-section img:hover{
    transform: scale(1.1);
}

.gallery-section p{
    padding: 50px;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
}

/* Contact-Us */
.Contact-section{
    height: 91vh;
    background-color: rgb(100, 90, 77);
}
.Contact-section h1{
     padding: 50px;
    justify-content: center;
    display: flex;
    font-size: 50px;
    font-family:serif;
    transition:color 0.3s ease, font-size 0.3s ease;
}

.Contact-section h1:hover{
    color: rgb(207, 32, 178);
    font-size: 2.5em; 

}
.Contact-section h3{
    padding: 10px;
    justify-content:flex-start;
    display: flex;
    font-size: 30px;
    font-family:cursive;
}
.Contact-section p{
    padding: 10px;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.contact-container{
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 30px;
    /* margin: -260px; */
    margin-bottom: 300px;
    font-size: 20px;
}
#c_btn{
    font-size: large;
    color: black;
}
.contact-button{
    margin: 10px;
    border: 2px solid white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}
.contact-container p{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



